/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #0000008f, #0354f793);

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

.container {
    width: 100%;
    max-width: 420px;
}

.content {
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    animation: popUp 0.8s ease;
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    letter-spacing: 1px;
}

input {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    transition: 0.3s ease;
}

input::placeholder {
    color: #e0e0e0;
}

input:focus {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.03);
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background: #ffca28;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #ffd95e;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.content>button:last-of-type {
    background: #ef5350;
    color: white;
    margin-top: 15px;
}

.content>button:last-of-type:hover {
    background: #ff6f6b;
}

.result {

    background: rgba(255, 255, 255, 0.15);
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    min-height: 80px;
    max-height: 260px;
    overflow-y: auto;
    border-radius: 10px;
    color: #fff;
    line-height: 1.7;
    font-size: 17px;
    opacity: 0;
    animation: slideUpFade 0.7s ease forwards;
}

.result::-webkit-scrollbar {
    width: 8px;
}

.result::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.result::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    transition: 0.3s ease;
}

.result::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes popUp {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideUpFade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media (max-width: 480px) {
    h2 {
        font-size: 24px;
    }

    .content {
        padding: 25px;
    }
} */